@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* CSS vars từ shadcn/ui */
    --border: 0 0% 90%;
    --input: 0 0% 100%;
    --ring: 214 65% 95%;
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 98%;
    --secondary-foreground: 222 47% 11%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 20% 70%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
  }
}
